
<main>
  <h2>Add new Insurance</h2>
  <form>
    <div class="form-field form-field2">
      <label for="company">Company</label>
      <input type="text" id="company"/>
    </div>

    <div class="form-field form-field2">
      <label for="person-id">Person ID</label>
      <select id="person-id">
        <option value="1">P1</option>
        <option value="2">P2</option>
        <option value="3">P3</option>
      </select>
    </div>

    <div class="form-field form-field2">
      <label for="car-id">Card ID</label>
      <select id="car-id">
        <option value="1">C1</option>
        <option value="2">C2</option>
        <option value="3">C3</option>
      </select>
    </div>

    <div class="form-field div4">
      <h4> Direct pay:</h4>
      <ul class="lista-pay">
        <li>
          <input type="checkbox" id="pay1" name="pay-method" value="1">
          <label for="pay1">Pay 1</label><br>
        </li>
        <li>
          <input type="checkbox" id="pay2" name="pay-method" value="1">
          <label for="pay2">Pay 2</label><br>
        </li>
        <li>
          <input type="checkbox" id="pay3" name="pay-method" value="1">
          <label for="pay3">Pay 3</label><br>
        </li>
      </ul>





    </div>

    <div class="form-field div5 form-field2">
      <h4>Tip plata:</h4>
      <ul class="lista-method">
        <li>
          <input type="radio" id="CreditCard" name="pay-method" value="pay1">
          <label for="CreditCard">Credit Card</label><br>
        </li>
        <li>
          <input type="radio" id="Numerar" name="pay-method" value="pay2">
          <label for="Numerar">Numerar</label><br>
        </li>
        <li>
          <input type="radio" id="Crypto" name="pay-method" value="pay3">
          <label for="Crypto">Crypto</label><br>
        </li>
      </ul>

    </div>

    <div class="form-field form-field2">
      <label for="start-date">Start Date</label>
      <input type="date" id="start-date"/>
    </div>

    <div class="form-field text-input form-field2">
      <label for="end-date">End Date</label>
      <input type="date" id="end-date"/>
    </div>


    <div class="form-field text-input form-field2">
      <label for="price">Price</label>
      <input type="number" id="price"/>
    </div>

    <!--        <div class="form-field">-->
    <!--            <label for="notes">Notes</label>-->
    <!--            <input type="textarea" id="notes"/>-->
    <!--        </div>-->

    <div class="form-field form-field2">
      <label from="text-area">Note</label>
      <textarea id="text-area" name="notes" rows="4" cols="50"></textarea>
    </div>

    <div class="action-button" id="buttons">
      <button id="ADD" type="submit">Add person</button>
      <button  id="RESET" type="button">Reset form</button>
    </div>

  </form>
</main>
