#footer-id{
  margin-top:30px;
  position:relative;
  left:0;
  bottom:0;
  width:auto;
  height:auto;
  padding: 10px;
  background-image: linear-gradient(to bottom right,white, blue);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-div{
  background-color: azure;
  padding: 10px;
  border-radius: 5px;
  border-top: #101010;
  margin-top:5px;
}
